@using CoreData
@model IList<Banner_Logo>
@if (Model != null && Model.Count() > 0)
{
    <div class="slider">
        <ul>
            @foreach (var item in Model)
            {
                <li class="post-267 pinthis_slider type-pinthis_slider status-publish has-post-thumbnail hentry"
                    data-rel="@item.Link" data-background="/Media/BannerLogo/@item.Image">
                    <div class="flick-title">
                        @item.Name</div>
                    <div class="flick-sub-text">
                       @item.Note</div>
                </li>
            }
        </ul>
    </div>
}