<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PayPalAPIHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PayPalAPIHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PayPalAPIHelper.Properties.Settings>
            <setting name="PayPalAPIHelper_PayPalWS_PayPalAPIInterfaceService"
                serializeAs="String">
                <value>https://api.paypal.com/2.0/</value>
            </setting>
            <setting name="PayPalAPIHelper_PayPalSandboxWS_PayPalAPIInterfaceService"
                serializeAs="String">
                <value>https://api.sandbox.paypal.com/2.0/</value>
            </setting>
            <setting name="Logic_PayPalSandboxWS_PayPalAPIInterfaceService"
                serializeAs="String">
                <value>https://api.sandbox.paypal.com/2.0/</value>
            </setting>
            <setting name="Logic_PayPalWS_PayPalAPIInterfaceService" serializeAs="String">
                <value>https://api.paypal.com/2.0/</value>
            </setting>
        </PayPalAPIHelper.Properties.Settings>
        <PayPalAPIHelper.Properties.Settings>
            <setting name="PayPalAPIHelper_PayPalWS_PayPalAPIInterfaceService" serializeAs="String">
                <value>https://api.paypal.com/2.0/</value>
            </setting>
            <setting name="PayPalAPIHelper_PayPalSandboxWS_PayPalAPIInterfaceService"
                serializeAs="String">
                <value>https://api.sandbox.paypal.com/2.0/</value>
            </setting>
        </PayPalAPIHelper.Properties.Settings>
    </applicationSettings>
</configuration>