@{
    Layout = null;
}
@using CoreData
@model Examinee
@{
    string data = "";
    if(Model!=null)
    {
        data = Model.Description;
    }
    }
<div style="padding:10px; font-size:x-large">
    Bài viết dự thi
</div>
<div style="padding:5px">
<center>
    <textarea style="width: 500px; height:200px; margin:10px" id="area2">@Html.Raw(data)</textarea>
    </center>
</div>
<center>
    <div class="control-apply" style="padding:10px">
                                <Button id="btn-updateintroduce" class="button button-color-1"  value="Cập nhật">Upload Ảnh</Button>
    </div>
</center>
