<div>
Bài viết dự thi
</div>
<div>
  <textarea cols="60" rows="10" id="area2"></textarea>
</div>

<script type="text/javascript">


    bkLib.onDomLoaded(function () {
  
        new nicEditor({ fullPanel: true }).panelInstance('area2');    
    });


</script>