@{
    Layout = null;
}
@model List<CoreData.PictureExam>
@if (Model != null && Model.Count() > 0)
{
    <ul id="navlist">
        @foreach (var item in Model)
        {
            <li><a class="tooltip picture-fancy" href="/Media/PictureExam/@item.Image" title="@item.Title">
                <img src="/Media/PictureExam/@item.Image" width="120" height="120" alt="">
            </a><a virid="@item.ID" class="btn-delete" title="Xóa ảnh" href="#">X</a> </li>
        }
    </ul>
}
