<div id="footer">
    <div class="footer-wrap">
        <ul>
            <li class="footer-infor-about">
                <img src="../../Content/imgs/logo.png" />
                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec at volutpat est,
                    in faucibus erat. Proin ullamcorper risus quis auctor dignissim.</span> <span>Aliquam
                        venenatis lorem ac metus eleifend, eleifend imperdiet magna ullamcorper.</span> </li>
            <li class="footer-list">
                <div class="footet-inner">
                    <p>
                        Tài khoản</p>
                    <ul>
                        <li><a href="#">Xem đơn hàng</a></li>
                        <li><a href="#">Quên mật khẩu</a></li>
                        <li><a href="#">Thông tin tài khoản</a></li>
                        <li><a href="#">Chính sách tài khoản</a></li>
                        <li><a href="#">Điều khoản sử dụng</a></li>
                    </ul>
                </div>
            </li>
            <li class="footer-list">
                <div class="footet-inner">
                    <p>
                        Về Bello Shop</p>
                    <ul>
                        <li><a href="#">Giới thiệu về Bello</a></li>
                        <li><a href="#">Tuyển dụng</a></li>
                        <li><a href="#">Câu hỏi thường gặp</a></li>
                        <li><a href="#">Phương thức vận chuyển</a></li>
                        <li><a href="#">Hướng dẫn đặt hàng</a></li>
                    </ul>
                </div>
            </li>
            <li class="footer-list">
                <div class="footet-inner">
                    <p>
                        Liên kết</p>
                    <ul>
                        <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#">Donec at volutpat est</a></li>
                        <li><a href="#">In in odio enim</a></li>
                        <li><a href="#">Integer ornare</a></li>
                        <li><a href="#">Cras tristique</a></li>
                    </ul>
                </div>
            </li>
            <li class="footer-list">
                <div class="footet-inner">
                    <p>
                        Liên hệ</p>
                    <ul>
                        <li class="contact-phone">Hotline: <span>016.5613.5162</span></li>
                        <li><a href="#">Email & Chat</a></li>
                    </ul>
                    <div class="social-list">
                        <!--FACEBOOK HERE-->
                    </div>
                </div>
            </li>
        </ul>
        <div class="right-infor">
            <p>
                © 2014 - Bản quyền của Công Ty BELLO - BELLO.vn. Địa chỉ: 79 Lò Thiêu, quận Cầu
                Giấy, Hà Nội, Việt Nam.</p>
            <p>
                Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành
                phố Hồ Chí Minh cấp ngày 07/08/2012</p>
        </div>
    </div>
</div>
