<div class="navbar-top">
    <ul>
        <li><a href="#">Chính sách</a></li>
        <li><a href="#">Hướng dẫn</a></li>
        <li><a href="@Url.Action("Contact", "Home")">Liên hệ</a></li>
        <li><a href="#">Thông tin</a></li>
    </ul>
</div>
