@{
    ViewBag.Title = "Phục hồi mật khẩu";
}
@section HeadResource{
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/loginpage.css")" rel="stylesheet" type="text/css" />
}
<div class="login-view">
    <div class="module-head">
        <h4>
            @ViewBag.Title</h4>
    </div>
    @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post))
    { 
        <div class="std">
            @Html.ValidationSummary()
            <ul>
                <li>
                    <label>
                        Email để phục hồi mật khẩu:</label><input type="text" name="email" class="txt" />
                </li>
                <li>
                    <div class="control-register">
                        <input type="submit" class="button button-color-1" value="Chấp nhận" />
                    </div>
                </li>
            </ul>
        </div>
    }
</div>
