@{
    ViewBag.Title = "Phục hồi mật khẩu";
}
@section HeadResource{
    <title>@ViewBag.Title</title>    
    <link href="@Url.Content("~/Content/css/loginpage.css")" rel="stylesheet" type="text/css" />
}
<div class="forgot-password-view">

<h1 class="general-heading">
    <span>@ViewBag.Title</span>
</h1>
@using (Html.BeginForm("ForgotPassword", "Home",FormMethod.Post))
{ 
    <div class="registry-box">
    @Html.ValidationSummary()
        <ul>
            <li>
                <label>Email để phục hồi mật khẩu:</label><input type="text" name="email"  class="txt" />
            </li>
        </ul>
        <div class="control-register">
            <input type="submit" class="btn-blue btn-register"  value="Chấp nhận" />
        </div>
    </div>
}
</div>