@using CoreData
@{
    ViewBag.Title="Jbart Academy - cuộc thi ảnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // List<Examinee> datat = new List<Examinee>();
  //  try{
       // var datat = (List<Examinee>)Session["dataindex"];
   // }catch{}
}
@section BannerIndex{
    <section id="primary">
        @Html.Action("_MainSlideShow", "BannerLogo")
    </section>
}

@*@section HeadResource{
      <script type="text/javascript" src="@Url.Content("~/Content/js/login.js")"></script>
}*@
<div class="container fluid">
    <div class="boxcontainer">












    @Html.Action("_ListExaminee", "Examinee")






    </div>

</div>
