@{
    ViewBag.Title = "Sản phẩm";
}
@using Helper

<div class="head">
    <div class="isw-grid">
    </div>
    <h1>
        Sản phẩm</h1>
    <ul class="buttons">
        <li><a href="#" class="isw-settings"></a>
            <ul class="dd-list" style="display: none;">
               @if (CameraShop.BaseController.Permission.Contains("C"))
               {
                <li>
                    <a href="@Url.Action("AddOrUpdate", "ProductManagement")"><span class="isw-plus"></span>Thêm
                        sản phẩm</a>
                    <a id="search" href="#"><span class="isw-zoom"></span>Tìm sản phẩm</a>
                </li>
               }
            </ul>
        </li>
    </ul>
    <div class="clear">
    </div>
</div>
   @if (CameraShop.BaseController.Permission.Contains("R"))
   {
 @*<button class="btn btn-primary" id="search">tìm kiếm</button>*@
            @Html.Action("_Search", "ProductManagement")
<div class="block-fluid table-sorting">
    <div class="row-fluid listproduct">
        @Html.Action("_ShowAll", "ProductManagement")
    </div>
</div>
   }
   else { <span>Bạn không có quyền truy cập trang này</span> }

<script type="text/javascript">
    ///Document Ready jQuery
    $(document).ready(function () {

        reloadGridProduct();
        jQuery(".formsearch").hide();
        jQuery("#search").ShowSearchForm();
        jQuery("#closesearchform").CloseSearchForm();
        jQuery("#searchaction").Search();
    });
</script>
<script src="@Url.ContentArea("~/Content/javascript/Product.js")" type="text/javascript"></script>