<div class="vendor-connect">
    <div class="module-head">
        <h4>
            Cửa hàng liên kết</h4>
    </div>
    <ul>
        @for (int i = 0; i < 5; i++)
        { 
            <li><a href="#">
                <img src="../../Content/source/Burger King-02.png" />
                <span>Odio sit amet ultrices</span> </a></li>
        }
    </ul>
</div>
