@using CoreData
@model IList<Category>
@if (Model.Count() > 0 && Model != null)
{
    <ul class="inner-module">
        @{
    var listParent = Model.Where(x => x.ParentID == Model.First().ParentID);
    foreach (var item in listParent)
    {
        <li><a href="@Url.RouteUrl("category_details", new { Id = @item.ID, Link = @item.Link })">@item.Name</a> </li>
    }
        }
    </ul>
}
