@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using CoreData
@model IEnumerable<Article>
<div class="container clearfix">
    <div class="postWrap">
        <div class="post-292 post type-post status-publish format-standard has-post-thumbnail hentry category-commercial">
            <div class="contentbox">
                <div class="topbar">
                    <p class="space border-color-5">
                        &nbsp;</p>
                </div>
                <p class="featured-image">
                    <img src="postpinthis_files/dfgdfgd-.jpg" alt="Post Format: Standart">
                </p>
                <div class="textbox clearfix">
                    <h1>
                        Gallery – Link to media file with Popup</h1>
                    <h1>
                        Heading 1</h1>
                    <p>
                        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t
                        anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators
                        on the Internet tend to repeat predefined chunks as necessary, making this the first
                        true generator on the Internet. It uses a dictionary of over 200 Latin words, combined
                        with a handful of model sentence structures, to generate Lorem Ipsum which looks
                        reasonable. The generated Lorem Ipsum is therefore always free from repetition,
                        injected humour, or non-characteristic.</p>
                </div>
                <p class="categories">
                    Categories: &nbsp; <a href="http://pinthis-rtl.pixelbeautify.com/category/commercial/"
                        title="شاهد جميع المقالات في Commercial" rel="category tag">Commercial</a></p>
                <div class="metabar clearfix">
                    <h4 class="title-5">
                        Comments</h4>
                </div>
                <!-- <div class="comment-respond-wrapper "> -->
                <div id="respond" class="comment-respond">
                    <h3 id="reply-title" class="comment-reply-title">
                        <small><a rel="nofollow" id="cancel-comment-reply-link" href="http://pinthis-rtl.pixelbeautify.com/post-format-standart/#respond"
                            style="display: none;">انقر هنا لإلغاء الرد.</a></small></h3>
                    <form action="http://pinthis-rtl.pixelbeautify.com/wp-comments-post.php" method="post"
                    id="commentform" class="comment-form">
                    <p class="icon">
                        <img alt src="http://0.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=40"
                            class="avatar avatar-40 photo avatar-default" height="40" width="40">
                    </p>
                    <p class="comment-form-author">
                        <input id="author" placeholder="Name *" name="author" type="text" value aria-required="true"></p>
                    <p class="comment-form-email">
                        <input id="email" placeholder="Email *" name="email" type="text" value aria-required="true"></p>
                    <p class="comment-form-url">
                        <input id="url" name="url" placeholder="Website " type="text" value></p>
                    <p class="comment-form-comment">
                        <textarea id="comment" name="comment" placeholder="Comment " aria-required="true"></textarea></p>
                    <p class="form-submit">
                        <input name="submit" type="submit" id="submit" value="إرســال التعليق">
                        <input type="hidden" name="comment_post_ID" value="292" id="comment_post_ID">
                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                    </p>
                    </form>
                </div>
                <!-- #respond -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    <aside class="sidebar">
        <div class="contentbox">
            <h4 class="title-1 border-color-2">
                Thumbnailer</h4>
            <div class="widgetwrapper">
                <ul class="recentposts clearfix">
                    @Html.Action("_ListPictureExam", "PictureExam")
                </ul>
            </div>
        </div>
        <div class="contentbox">
            <form role="search" method="get" id="searchform" class="searchform" action="http://pinthis-rtl.pixelbeautify.com/">
            <div>
                <label class="screen-reader-text" for="s">
                    البحث عن:</label>
                <input type="text" value name="s" id="s">
                <input type="submit" id="searchsubmit" value="بحث">
            </div>
            </form>
        </div>
        <div class="contentbox">
            <h4 class="title-1 border-color-2">
                Calendar</h4>
            <div id="calendar_wrap">
                <table id="wp-calendar">
                    <caption>
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col" title="الإثنين">
                                ن
                            </th>
                            <th scope="col" title="الثلاثاء">
                                ث
                            </th>
                            <th scope="col" title="الأربعاء">
                                ر
                            </th>
                            <th scope="col" title="الخميس">
                                خ
                            </th>
                            <th scope="col" title="الجمعة">
                                ج
                            </th>
                            <th scope="col" title="السبت">
                                س
                            </th>
                            <th scope="col" title="الأحد">
                                أ
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td id="prev">
                                <a href="http://pinthis-rtl.pixelbeautify.com/2014/05/" title="مشاهدة المقالات لمايو 2014">
                                    « مايو</a>
                            </td>
                            <td class="pad caption">
                                يونيو 2014
                            </td>
                            <td id="next" class="pad">
                                &nbsp;
                            </td>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td colspan="6" class="pad">
                                &nbsp;
                            </td>
                            <td>
                                1
                            </td>
                        </tr>
                        <tr>
                            <td>
                                2
                            </td>
                            <td>
                                3
                            </td>
                            <td>
                                4
                            </td>
                            <td>
                                5
                            </td>
                            <td>
                                6
                            </td>
                            <td>
                                7
                            </td>
                            <td>
                                8
                            </td>
                        </tr>
                        <tr>
                            <td>
                                9
                            </td>
                            <td>
                                10
                            </td>
                            <td>
                                11
                            </td>
                            <td>
                                12
                            </td>
                            <td>
                                13
                            </td>
                            <td>
                                14
                            </td>
                            <td>
                                15
                            </td>
                        </tr>
                        <tr>
                            <td>
                                16
                            </td>
                            <td id="today">
                                <span>17</span>
                            </td>
                            <td>
                                18
                            </td>
                            <td>
                                19
                            </td>
                            <td>
                                20
                            </td>
                            <td>
                                21
                            </td>
                            <td>
                                22
                            </td>
                        </tr>
                        <tr>
                            <td>
                                23
                            </td>
                            <td>
                                24
                            </td>
                            <td>
                                25
                            </td>
                            <td>
                                26
                            </td>
                            <td>
                                27
                            </td>
                            <td>
                                28
                            </td>
                            <td>
                                29
                            </td>
                        </tr>
                        <tr>
                            <td>
                                30
                            </td>
                            <td class="pad" colspan="6">
                                &nbsp;
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        @*@if (Model != null && Model.Count() > 0)
        {
            <div class="contentbox">
                <h4 class="title-1 border-color-2">
                    @Model.FirstOrDefault().CategoryNameExt</h4>
                @Html.Action("_GetChildCategory", "Category", Model.FirstOrDefault().CateID)
            </div>
        }*@
    </aside>
</div>
