@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadResource{
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/notifypage.css")" rel="stylesheet" type="text/css" />
}
<div class="pay-success-view">
    <h1 class="general-heading">
        <span>Đặt hàng thành công</span>
    </h1>
    <h3>Bạn đã thanh toán thành công.</h3>
</div>