<footer>
    <a href="http://pinthis-rtl.pixelbeautify.com/#totop" class="scrolltotop">Scroll to
        Top</a>
    <div class="toggler">
        <label for="toggle-footer">
            &nbsp;</label>
    </div>
    <div class="footerwrapper">
     @*   <div class="footerbar">
            <div class="container">
                <div class="cell">
                    <h3 class="title-2">
                        Pages</h3>
                    <ul class="links">
                        <li class="page_item page-item-2"><a href="http://pinthis-rtl.pixelbeautify.com/about/">
                            About</a>
                        <li class="page_item page-item-179"><a href="http://pinthis-rtl.pixelbeautify.com/contact/">
                            Contact Us</a>
                        <li class="page_item page-item-238"><a href="http://pinthis-rtl.pixelbeautify.com/portfolio/">
                            Portfolio</a>
                    </ul>
                </div>
                <div class="cell">
                    <h3 class="title-2">
                        Bookmarks</h3>
                    <ul class="links">
                        <li><a href="http://pixelbeautify.com/" title="This will be shown when someone hovers over the link in the blogroll, or optionally below the link.">
                            Best Company</a></li>
                        <li><a href="http://pixelbeautify.com/">Blogging Software</a></li>
                        <li><a href="http://pixelbeautify.com/">John Doe</a></li>
                        <li><a href="http://pixelbeautify.com/">Peter Jackson</a></li>
                        <li><a href="http://pixelbeautify.com/">Web Services</a></li>
                    </ul>
                </div>
                <div class="cell">
                    <h3 class="title-2">
                        Recent Posts</h3>
                    <ul class="links">
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-standart/" title="Post Format: Standart">
                            Post Format: Standart</a></li>
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-audio/" title="Post Format: Audio">
                            Post Format: Audio</a></li>
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-video/" title="Post Format: Video">
                            Post Format: Video</a></li>
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/donec-euismod-fermentum-3/" title="Donec euismod fermentum">
                            Donec euismod fermentum</a></li>
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/donec-euismod-fermentum-2/" title="Donec euismod fermentum">
                            Donec euismod fermentum</a></li>
                    </ul>
                </div>
                <div class="cell">
                    <h3 class="title-2">
                        Popular Posts</h3>
                    <ul class="links">
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/donec-euismod-fermentum-3/" title="Donec euismod fermentum">
                            Donec euismod fermentum</a></li>
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/donec-euismod-fermentum-2/" title="Donec euismod fermentum">
                            Donec euismod fermentum</a></li>
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/donec-euismod-fermentum/" title="Donec euismod fermentum">
                            Donec euismod fermentum</a></li>
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/where-does-it-come-from-12/" title="Post Format: Quote">
                            Post Format: Quote</a></li>
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/where-does-it-come-from-3/" title="Where does it come from?">
                            Where does it come from?</a></li>
                    </ul>
                </div>
                <div class="cell">
                    <h3 class="title-2">
                        Follow Us</h3>
                    <ul class="soclinks clearfix">
                        <li><a href="http://facebook.com/" class="icon-footer-fb" target="_blank">Facebook</a></li>
                        <li><a href="http://pinterest.com/" class="icon-footer-pin" target="_blank">Pinterest</a></li>
                        <li><a href="http://twitter.com/" class="icon-footer-tw" target="_blank">Twitter</a></li>
                        <li><a href="http://instagram.com/" class="icon-footer-instagram" target="_blank">Instagram</a></li>
                        <li><a href="http://youtube.com/" class="icon-footer-youtube" target="_blank">Youtube</a></li>
                        <li><a href="http://linkedin.com/" class="icon-footer-linkedin" target="_blank">LinkedIn</a></li>
                        <li><a href="http://plus.google.com/" class="icon-footer-gplus" target="_blank">Google
                            +</a></li>
                        <li><a href="http://behance.net/" class="icon-footer-behance" target="_blank">Behance</a></li>
                        <li><a href="http://flickr.com/" class="icon-footer-flickr" target="_blank">Flickr</a></li>
                        <li><a href="http://foursquare.com/" class="icon-footer-foursquare" target="_blank">
                            Foursquare</a></li>
                        <li><a href="http://vimeo.com/" class="icon-footer-vimeo" target="_blank">Vimeo</a></li>
                        <li><a href="http://soundcloud.com/" class="icon-footer-soundcloud" target="_blank">
                            Soundcloud</a></li>
                    </ul>
                </div>
            </div>
        </div>*@
        @*<div class="copyright">
            <div class="container">
                <p>
                    Copyright © 2014 PixelBeautify – PinThis Theme Preview</p>
            </div>
        </div>*@
    </div>
</footer>
<link rel="stylesheet" id="mediaelement-css" href="../../Content/css/mediaele.css"
    type="text/css" media="all" />
<link rel="stylesheet" id="wp-mediaelement-css" href="../../Content/css/wp-media.css"
    type="text/css" media="all" />
<script type="text/javascript" src="../../Content/js/jquery01.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/pinthis-rtl.pixelbeautify.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"\u062c\u0627\u0631\u064a \u0627\u0644\u0625\u0631\u0633\u0627\u0644 ..."};
/* ]]> */
</script>
<script type="text/javascript" src="../../Content/js/scripts0.js"></script>
<script type="text/javascript" src="../../Content/js/moderniz.js"></script>
<script type="text/javascript" src="../../Content/js/spin0000.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-n.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-o.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-p.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-i.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-s.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-c.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-a.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-q.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-t.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-j.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-f.js"></script>
<script type="text/javascript" src="../../Content/js/jquery-g.js"></script>
<script type="text/javascript">
// <![CDATA[
    var pinthis_phpjs_option = { "arrows": "1", "arrows_constraint": "", "auto_flick": "1", "auto_flick_delay": "10", "block_text": "", "dot_navigation": "1", "dot_alignment": "center", "flick_position": "1", "tr_username": "Username", "tr_password": "Password", "tr_search": "Search" };
    /* ]]> */
</script>
<script type="text/javascript" src="../../Content/js/main0000.js"></script>
<script type="text/javascript">
/* <![CDATA[
    var mejsL10n = { "language": "ar", "strings": { "Close": "\u0625\u063a\u0644\u0627\u0642", "Fullscreen": "\u0634\u0627\u0634\u0629 \u0643\u0627\u0645\u0644\u0629", "Download File": "\u062a\u062d\u0645\u064a\u0644 \u0627\u0644\u0645\u0644\u0641", "Download Video": "\u062a\u062d\u0645\u064a\u0644 \u0627\u0644\u0641\u064a\u062f\u064a\u0648", "Play\/Pause": "\u062a\u0634\u063a\u064a\u0644\/\u0625\u064a\u0642\u0627\u0641 \u0645\u0624\u0642\u062a", "Mute Toggle": "\u062a\u0628\u062f\u064a\u0644 \u0627\u0644\u0643\u062a\u0645", "None": "\u0628\u062f\u0648\u0646", "Turn off Fullscreen": "\u0625\u064a\u0642\u0627\u0641 \u0627\u0644\u0634\u0627\u0634\u0647 \u0627\u0644\u0643\u0627\u0645\u0644\u0629", "Go Fullscreen": "\u0627\u0644\u0627\u0646\u062a\u0642\u0627\u0644 \u0625\u0644\u0649 \u0627\u0644\u0634\u0627\u0634\u0647 \u0627\u0644\u0643\u0627\u0645\u0644\u0629", "Unmute": "\u0625\u0644\u063a\u0627\u0621 \u0643\u062a\u0645 \u0627\u0644\u0635\u0648\u062a", "Mute": "\u0635\u0627\u0645\u062a", "Captions\/Subtitles": "\u0643\u0644\u0645\u0627\u062a \u062a\u0648\u0636\u064a\u062d\u064a\u0629\/\u062a\u0631\u062c\u0645\u0627\u062a"} };
    var _wpmejsSettings = { "pluginPath": "\/wp-includes\/js\/mediaelement\/" };
    /* ]]> */
</script>
<script type="text/javascript" src="../../Content/js/mediaele.js"></script>
<script type="text/javascript" src="../../Content/js/wp-media.js"></script>
