  <p class="login-submit">
                            <form style="text-align: left;"  action="@Url.Action("LoginFB", "Home")"
                        method="post">
                                <input type="submit" name="wp-submit" id="wp-submit" class="button-primary loginFBweb" value="Login with facebook">
                                       
                                  </form>
                            </p>