<div class="nav-contact">
    <div class="main-contact">
        <a href="#" class="lu-icon nav-contact-icon"></a><span>Hot Line</span> <span class="phone-number">
            016.5613.5162</span>
        <div class="clearfix">
        </div>
    </div>
    <div class="contact-infor">
        <ul>
            <li><span class="lu-icon lu-phone-icon"></span><span>016.5613.5162</span> </li>
            <li><span class="lu-icon lu-skype-icon"></span><span><a href="#">Nhân viên 1</a></span>
            </li>
        </ul>
    </div>
</div>
