@{
    ViewBag.Title="Jbart contest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section BannerIndex{
    <section id="primary">
        @Html.Action("_MainSlideShow", "BannerLogo")
    </section>
}
@section HeadResource{
      <script type="text/javascript" src="@Url.Content("~/Content/js/login.js")"></script>
}
<div class="container fluid">
    <div class="boxcontainer">
    @Html.Action("_ListExaminee", "Examinee")
    </div>
    @*<div class="container">
        <div class="posts-navigation clearfix hide">
            <a href="http://pinthis-rtl.pixelbeautify.com/page/2/" class="next">Next Page</a></div>
    </div>*@
</div>
