@{
    ViewBag.Title = "Đặt hàng thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadResource{
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/css/notifypage.css")" rel="stylesheet" type="text/css" />
}
<div class="pay-success-view">
    <h1 class="general-heading">
        <span>Đặt hàng thành công</span>
    </h1>
    <h3>Bạn đã đặt hàng thành công. vui lòng thanh toán cho chúng tôi qua tài khoản ngân hàng sau:</h3>
    <h4>Đông á Bank</h4>
    <p><span>Tài khoản:</span> 0103453140</p>
    <p><span>Chủ tài khoản:</span> Trung Lê</p>
    <span>Hoặc liên hệ với chúng tôi theo số điện thoại: 01656135162 để được hướng dẫn chi tiết.</span>
    <p>
    <span>Sau khi thanh toán vui lòng vào trang cá nhân của bạn gửi kèm cho chúng tôi chứng từ xác nhận từ ngân hàng</span>
    </p>
</div>

