@*@using CoreData
@model User*@
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeadResource{
    <title>@ViewBag.Title</title>
    <link href="../../Content/plugins/KyersTab/css/kyersTab.css" rel="stylesheet" type="text/css" />
}
@section BottomResource{
    <script src="../../Content/plugins/KyersTab/js/kyersTab.js" type="text/javascript"></script>
    <script type="text/javascript">
        (function ($) {
            $(document).ready(function (e) {
                $(".topbar").find("li").find("a").kyersTab({ "tabItem": ".tab-item" });
            });
        })(jQuery);
    </script>
}
<div class="container clearfix">
    <div class="postWrap">
        <div class="post-292 post type-post status-publish format-standard has-post-thumbnail hentry category-commercial">
            <div class="contentbox">
                <div class="topbar">
                    <p class="space border-color-5">
                        &nbsp;</p>
                    <ul class="navbtns navprofile">
                        <li><a href="#">Album Ảnh</a> </li>
                        <li><a href="#">User Profile</a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <ul class="tab-list">
                        <li class="tab-item">
                            <ul>
                                @for (int i = 0; i < 9; i++)
                                {
                                    <li><a class="tooltip" href="http://pinthis-rtl.pixelbeautify.com/post-format-standart/"
                                        title="Post Format: Standart">
                                        <img src="postpinthis_files/dfgdfgd0.jpg" width="68" height="68" alt="Post Format: Standart">
                                    </a></li>
                                }
                            </ul>
                        </li>
                        <li class="tab-item">
                            <p class="featured-image">
                                <img src="postpinthis_files/dfgdfgd-.jpg" alt="Post Format: Standart">
                            </p>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <aside class="sidebar">
        <div class="contentbox">
            <h4 class="title-1 border-color-2">
                Thumbnailer</h4>
            <div class="widgetwrapper">
                <ul class="recentposts clearfix">
                    @for (int i = 0; i < 9; i++)
                    {
                        <li><a class="tooltip" href="http://pinthis-rtl.pixelbeautify.com/post-format-standart/"
                            title="Post Format: Standart">
                            <img src="postpinthis_files/dfgdfgd0.jpg" width="68" height="68" alt="Post Format: Standart">
                        </a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="contentbox">
            <form role="search" method="get" id="searchform" class="searchform" action="http://pinthis-rtl.pixelbeautify.com/">
            <div>
                <label class="screen-reader-text" for="s">
                    البحث عن:</label>
                <input type="text" value name="s" id="s">
                <input type="submit" id="searchsubmit" value="بحث">
            </div>
            </form>
        </div>
        <div class="contentbox">
            <h4 class="title-1 border-color-2">
                أحدث المقالات</h4>
            <ul>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-standart/">Post Format:
                    Standart</a> </li>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-audio/">Post Format: Audio</a>
                </li>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-video/">Post Format: Video</a>
                </li>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/donec-euismod-fermentum-3/">Donec
                    euismod fermentum</a> </li>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/donec-euismod-fermentum-2/">Donec
                    euismod fermentum</a> </li>
            </ul>
        </div>
    </aside>
</div>
