@*@using CoreData
@model User*@
@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container clearfix">
    <div class="postWrap">
        <div class="post-292 post type-post status-publish format-standard has-post-thumbnail hentry category-commercial">
            <div class="contentbox">
                <div class="topbar">
                    <ul class="navbtns">
                        <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-audio/" rel="prev">Previous
                            post</a> </li>
                        <li><span class="no-link">Next post</span> </li>
                    </ul>
                    <p class="space border-color-5">
                        &nbsp;</p>
                </div>
                <p class="featured-image">
                    <img src="postpinthis_files/dfgdfgd-.jpg" alt="Post Format: Standart">
                </p>
                <h3 class="title-3 ">
                    <a href="http://pinthis-rtl.pixelbeautify.com/post-format-standart/">Post Format: Standart</a>
                </h3>
                
            </div>
        </div>
    </div>
    <aside class="sidebar">
        <div class="contentbox">
            <h4 class="title-1 border-color-2">
                Thumbnailer</h4>
            <div class="widgetwrapper">
                <ul class="recentposts clearfix">
                    @for (int i = 0; i < 9; i++)
                    {
                        <li><a class="tooltip" href="http://pinthis-rtl.pixelbeautify.com/post-format-standart/"
                            title="Post Format: Standart">
                            <img src="postpinthis_files/dfgdfgd0.jpg" width="68" height="68" alt="Post Format: Standart">
                        </a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="contentbox">
            <form role="search" method="get" id="searchform" class="searchform" action="http://pinthis-rtl.pixelbeautify.com/">
            <div>
                <label class="screen-reader-text" for="s">
                    البحث عن:</label>
                <input type="text" value name="s" id="s">
                <input type="submit" id="searchsubmit" value="بحث">
            </div>
            </form>
        </div>
        <div class="contentbox">
            <h4 class="title-1 border-color-2">
                أحدث المقالات</h4>
            <ul>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-standart/">Post Format:
                    Standart</a> </li>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-audio/">Post Format: Audio</a>
                </li>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/post-format-video/">Post Format: Video</a>
                </li>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/donec-euismod-fermentum-3/">Donec
                    euismod fermentum</a> </li>
                <li><a href="http://pinthis-rtl.pixelbeautify.com/donec-euismod-fermentum-2/">Donec
                    euismod fermentum</a> </li>
            </ul>
        </div>
    </aside>
</div>
